                                                        /* This is all to make the navigation bar work. It (somewhat) works (most of the time) */
.navbar {
    overflow: hidden;
    background-color:green;
    font-family: "Calibri";
    font-size:36px;
    font-weight:bold;
}

.navbar a { /*This styles the links (white and bold)*/
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown { /* This floats the dropdown buttons left*/
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn { 
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn { /* This changes the background color when a mouse is over the links on the navbar*/
    background-color: red;
}

.dropdown-content { /*This controls the drop down menu */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a { /*Styles the dropdown box links*/
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover { /*Changes link box when hovered over*/
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#selected{
    font-weight:bolder;
}
                                    /* This is the main class used to give the different bodies of text size, font and color */
.bodyText{
    font-family:"Calibri"; 
    color:black;
    font-size:20px;
}
                                    /* This particular portion that allows the images on the home page to nest nicely. is forked from W3 Schools */
.hoverDiv{
    font-family:"Calibri"; 
    color:black;
    font-size:20px;
    border:5px solid green;
    background-color: white;
}
.hoverDiv:hover{
    border:5px solid red;
    background-color: darkgray;
}

/* Styles used on birthday list 2019 page */

.bDayContainer {
    height:800px;
}

.bDayContainer div img {
    height:400px;
    width:400;
}

.bDayLeft {
    height:700px;
    display:inline-block;
    width:600px;
    float:left;
    margin-left:30px;
}

.bDayRight {
    display:inline-block;
    width:600px;
    float:right;
    margin-right:30px;
}

#bDayPrice {
    color:#50f442;
}

